{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>竞赛代码收集分析平台</title>
  <link rel="stylesheet" href="../../static/competition/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">竞赛代码收集分析平台</div>

    <ul class="layui-nav layui-layout-right">

      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{% static 'competition/images/userlogo.png' %}" class="layui-nav-img">
            {{ user.username }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">修改密码</a></dd>
          <dd><a href="/authenz/logout">注销</a></dd>
        </dl>
      </li>

{#      <li class="layui-nav-item"><a href="/authenz/logout">注销</a></li>#}

    </ul>

  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">

        <li class="layui-nav-item"><a href="{% url  'competition_create' %}">比赛创建</a></li>
        <li class="layui-nav-item"><a href="/competition/list-admin">比赛管理</a></li>
        <li class="layui-nav-item"><a href="{% url 'competition_list_submission' %}">参赛者提交管理</a></li>
        <li class="layui-nav-item"><a href="">提交结果统计分析</a></li>

      </ul>
    </div>
  </div>

  <div class="layui-body">
      <button type=button class="layui-btn layui-btn-xs layui-btn-primary" onClick="javascript:history.go(-1);">
      <i class="layui-icon layui-icon-prev"></i>
      返回
      </button>
      {% block content %}
      {% endblock %}
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © HUST - 竞赛代码收集分析平台
  </div>


</div>
<script src="../../static/competition/layui.all.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>

{% block js %}
{% endblock %}
</body>
</html>
