{% extends 'competition/base.html' %}

{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend align="center">比赛管理</legend>
</fieldset>

<table class="layui-table" lay-size="lg">
  <colgroup>
    <col width="150">
    <col width="300">
    <col width="220">
    <col width="400">
  </colgroup>
  <thead>
    <tr>
      <th>比赛名</th>
      <th>比赛描述</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for c in competitions%}
    <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.description }}</td>
    <td>{{ c.created_time }}</td>
      <td>
          <a href="{% url 'competition_update' c.id %}" class="layui-btn layui-btn-radius">信息修改</a>
          <a href="{% url 'participant_list' c.id %}" class="layui-btn layui-btn-radius layui-btn-normal">人员管理</a>
          <button id="del{{ c.id }}"  class="layui-btn layui-btn-radius layui-btn-danger">删除</button>
{#          <button id="del{{ c.id }}" href="{% url 'competition_delete' c.id %}" class="layui-btn layui-btn-radius layui-btn-danger">删除</button>#}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination" align="center">
    <span class="step-links">
        {% if competitions.has_previous %}
            <button class="layui-btn">
                <a href="?page=1">第一页</a>
            </button>

            <button class="layui-btn">
                <a href="?page={{ competitions.previous_page_number }}"><i class="layui-icon">&#xe65a;</i></a>
            </button>
        {% endif %}

        <span class="current">
            <button class="layui-btn">
                第 {{ competitions.number }}页  共 {{ competitions.paginator.num_pages }}页
            </button>
        </span>

        {% if competitions.has_next %}
            <button class="layui-btn">
                <a href="?page={{ competitions.next_page_number }}"><i class="layui-icon">&#xe65b;</i></a>
            </button>

            <button class="layui-btn">
                <a href="?page={{ competitions.paginator.num_pages }}">最后一页</a>
            </button>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block js %}
<script>
    // request all submission button
    var $ = layui.jquery;
    {% for c in competition_list%}
    $('#del{{ c.id }}').on('click', function(){
        if (window.confirm("确定要删除比赛{{ c.name }}吗？")) {
            $.ajax({
                url: '{% url 'competition_delete' c.id %}',
                type: "GET"
            });
            alert('删除成功！');
            location.reload();
　　　　}
    });
    {% endfor %}
</script>
{% endblock %}