{% extends 'competition/base.html' %}

{% block content %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend align="center">{{competition.name}}   参赛者管理</legend>
</fieldset>
<button type="button" class="layui-btn layui-btn-primary" onclick="btnAction()">TEST CREATE</button>
<table class="layui-table" lay-size="sm">
  <colgroup>
    <col width="200">
    <col width="120">
    <col width="200">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>参赛者考号</th>
      <th>姓名</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
  {% for p in participants %}
    <tr>

    <td>{{ p.pid }}</td>
    <td>{{ p.name }}</td>


    <td>
      <a href="" class="layui-btn layui-btn-xs layui-btn-disabled">修改</a>
      <a href="{% url 'participant_delete' competition.id p.id %}" class="layui-btn layui-btn-xs">删除</a>
    </td>

    </tr>
  {% endfor %}
  </tbody>

</table>

{% endblock %}


{% block js %}
<script>
{#layer.msg('hello');#}
{#$('#create1').on('click',function(){#}
{#     layer.msg('create');#}
{# });#}


function btnAction() {
    layer.msg('create');
}

</script>
{% endblock %}
