{% extends 'competition/base.html' %}

{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend align="center">{{ competition.name }}参赛人员：{{ participant.name }} 信息修改</legend>
</fieldset>

<form class="layui-form" method="post" action="{% url 'participant_update' competition.id participant.id%}" enctype="multipart/form-data">

  <div class="layui-form-item">
    <label class="layui-form-label">考生编号</label>
    <div class="layui-input-block">
      <input type="text" name="pno" required  lay-verify="required" value="{{ participant.pno }}" placeholder="请输入考生编号" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
      <input type="text" name="name" required  lay-verify="required" value="{{ participant.name }}" placeholder="请输入考生姓名" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">省份</label>
    <div class="layui-input-block">
      <input type="text" name="province" required  lay-verify="required" value="{{ participant.province }}" placeholder="请输入考生省份" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">学校</label>
    <div class="layui-input-block">
      <input type="text" name="school" required  lay-verify="required" value="{{ participant.school }}" placeholder="请输入考生学校" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">年级</label>
    <div class="layui-input-block">
      <input type="text" name="grade" required  lay-verify="required" value="{{ participant.grade }}" placeholder="请输入考生年级" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">身份证号</label>
    <div class="layui-input-block">
      <input type="text" name="id_num" required  lay-verify="required" value="{{ participant.id_num }}" placeholder="请输入考生身份证号" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">主机地址</label>
    <div class="layui-input-block">
      <input type="text" name="host" required  lay-verify="required" value="{{ participant.host }}" placeholder="请输入考生主机地址" autocomplete="off" class="layui-input">
    </div>
  </div>

    <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" type="submit">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
    </div>

</form>
{% if error %}
    <div style="color: red;margin-left: 80px">{{ error }}</div>
{% endif %}

{% endblock %}
