{% extends 'competition/base.html' %}

{% block content %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend align="center">{{competition.name}}   作弊情况</legend>
</fieldset>

<div align="center">
{#<div>后台查重进度：已经完成{{ percentage_already_compared }}%</div>#}
<div>查重率警告阈值</div>
<div id="threshodSlide" class="layui-card-body" style="width:300px;margin: auto"></div>
</div>


<table class="layui-table" lay-size="sm">
  <colgroup>
    <col width="200">
    <col width="120">
    <col width="200">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>考号</th>
      <th>姓名</th>
      <th>考号</th>
      <th>姓名</th>
      <th>相似文件</th>
      <th>相似度</th>
    </tr>
  </thead>

  <tbody>
  {% for r in similarity_records %}
    <tr>

    <td>{{ r.src_submission.participant.pno }}</td>
    <td>{{ r.src_submission.participant.name }}</td>
    <td>{{ r.dest_submission.participant.pno }}</td>
    <td>{{ r.dest_submission.participant.name }}</td>
    <td>{{ r.src_file }}</td>
    <td>{{ r.percentage }}</td>

    </tr>
  {% endfor %}
  </tbody>

</table>

<div class="pagination" align="center">
    <span class="step-links">
        {% if similarity_records.has_previous %}
            <button class="layui-btn layui-btn-xs">
                <a href="?page=1">第一页</a>
            </button>

            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ similarity_records.previous_page_number }}"><i class="layui-icon">&#xe65a;</i></a>
            </button>
        {% endif %}

        <span class="current">
            <button class="layui-btn layui-btn-xs">
                第 {{ similarity_records.number }}页  共 {{ similarity_records.paginator.num_pages }}页
            </button>
        </span>

        {% if similarity_records.has_next %}
            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ similarity_records.next_page_number }}"><i class="layui-icon">&#xe65b;</i></a>
            </button>

            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ similarity_records.paginator.num_pages }}">最后一页</a>
            </button>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block js %}
<script>
layui.use('slider', function(){
  var slider = layui.slider;

  //渲染
  slider.render({
    elem: '#threshodSlide',  //绑定元素
    min: 60,
    value: {{threshold}},
    input: true,
    change: function(threshold){
    window.location.replace("http://{{ domain }}/detector/{{ competition.id }}/plagiarism_detail?threshold="+threshold.toString());
  }

  });
});
</script>
{% endblock %}