{% extends 'competition/base.html' %}

{% block content %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend align="center">{{competition.name}}   完成度统计</legend>
</fieldset>
<div align="center">
    <a href="{% url 'get_compeltion_csv' competition.id %}" class="layui-btn layui-btn-xs">导出csv</a>
</div>

<table class="layui-table" lay-size="sm">
  <colgroup>
    <col width="200">
    <col width="120">
    <col width="200">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>参赛者考号</th>
      <th>姓名</th>
      <th>状态</th>
      <th>未完成</th>
    </tr>
  </thead>

  <tbody>
  {% for p in participants %}
    <tr>

    <td>{{ p.pno }}</td>
    <td>{{ p.name }}</td>

    {% if p.submission %}
        <td>{{p.submission.status}}</td>
    {% else %}
        <td>未提交</td>
    {% endif %}

    <td>
        {{ p.display_missing }}
    </td>

    </tr>
  {% endfor %}
  </tbody>

</table>


<div class="pagination" align="center">
    <span class="step-links">
        {% if participants.has_previous %}
            <button class="layui-btn layui-btn-xs">
                <a href="?page=1">第一页</a>
            </button>

            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ participants.previous_page_number }}"><i class="layui-icon">&#xe65a;</i></a>
            </button>
        {% endif %}

        <span class="current">
            <button class="layui-btn layui-btn-xs">
                第 {{ participants.number }}页  共 {{ participants.paginator.num_pages }}页
            </button>
        </span>

        {% if participants.has_next %}
            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ participants.next_page_number }}"><i class="layui-icon">&#xe65b;</i></a>
            </button>

            <button class="layui-btn layui-btn-xs">
                <a href="?page={{ participants.paginator.num_pages }}">最后一页</a>
            </button>
        {% endif %}
    </span>
</div>

{% endblock %}
