<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="../../static/authenz/css/semantic.css">
</head>
<body style="background-color: #DADADA">
    <div class="ui center aligned grid" style="margin-top: 170px">
        <div class="ui six wide column">
            <h1 class="ui teal header">竞赛代码收集分析平台</h1>
            <div class="ui segment">
                <div class="ui content">
                    <form class="ui form" method="post" action="/authenz/login/">
                        <div class="field">
                             <input type="text" name="username" placeholder="username"><br>
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="password"><br>
                        </div>

                        {% if msg %}
                            <div style="color: green">{{ msg }}</div><br>
                        {% endif %}
                        {% if error %}
                            <div style="color: red">{{ error }}</div><br>
                        {% endif %}

                        <button class="ui fluid large teal button" type="submit">登陆</button>
                    </form>
                    <div class="ui message">
                        新用户? <a href="/authenz/register">注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>